# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Madrinho\Documents\ISEL\2020-2021-SI\CS\ISEL-MEIC-CS_G11_2021i\Trabalho1\Ex3\Python\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
